{% extends "base.html" %}

{% load static form_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="main">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div id="uploadFormContainer" class="d-none">
                <h2 id="uploadHeading" class="text-center mb-4">Upload your file</h2>
                {% upload_form %}
                <div id="progressBar" class="w-100 d-none">
                    <div class="progress" role="progressbar">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"><strong>Uploading...</strong></div>
                    </div>
                </div>
                <div id="description" class="alert alert-secondary text-center mt-5">
                    Uploads a file securely to Amazon S3 and generates a presigned URL with expiration.
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}
<script>
    var presignUploadUrl = "{% url 'presign_upload' %}"
    var presignDownloadUrl = "{% url 'presign_download' %}"
</script>

<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}