/* ---------------------------------------------------
    BASE STYLES
----------------------------------------------------- */


/* ---------------------------------------------------
    NAV STYLES
----------------------------------------------------- */
#main-nav {
    min-height: 56px;
}


/* ---------------------------------------------------
    HOMEPAGE STYLES
----------------------------------------------------- */

section.main {
    min-height: calc(100vh - 112px);
}

section.main > .container {
    height: calc(100vh - 112px);
}


/* ---------------------------------------------------
    FOOTER STYLES
----------------------------------------------------- */

section.footer .container {
    height: 56px;
}

section.footer .copyright {
    font-size: 0.7rem;
    opacity: .8;
}