{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<section class="main">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="">
                <div class="">
                    <h3 class="text-center mb-4">Upload your file</h3>
                    <form class="">
                        <label for="formFile" class="form-label visually-hidden">Choose file</label>
                        <div class="input-group input-group-lg">
                            <input class="form-control form-control-lg w-50" type="file" id="formFile">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Expiration</option>
                                <option value="1">1 Hour</option>
                                <option value="2">3 Hours</option>
                                <option value="3">12 Hours</option>
                            </select>
                            <button class="btn btn-secondary" type="button"><strong>Upload</strong></button>
                        </div>
                    </form>
                    <div class="alert alert-secondary text-center mt-5">
                        Uploads a file securely to Amazon S3 and generates a presigned URL with expiration.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}