{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}


<section class="main">
    <div class="container h-100">
        <div>
            <h1>Hello {{ name }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam voluptates, exercitationem sunt quas quos
                recusandae quam accusantium. Molestiae, maiores temporibus velit eos, accusantium delectus ea magnam officia
                fugit fugiat corporis!</p>
        </div>
        
    </div>
</section>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}